{
	# debug
	# auto_https off
	admin off
    # admin unix//run/caddy-admin.sock
	order coraza_waf first
	log {
		format console
		level info
	}
    email admin@{$SERVER_NAME}
}

{$SERVER_NAME} {
	import extras/security.caddyfile

	coraza_waf {
		directives `
		Include /etc/caddy/coraza/*.conf
		Include /opt/owasp-crs/rules/*.conf
		SecRuleEngine On
		# SecDebugLog /dev/stdout
		# SecDebugLogLevel 9
		`
	}

	reverse_proxy {$BACKEND}

    log {
        output file /var/log/caddy/access.log {
            roll_size 100mb
            roll_keep 20
            roll_keep_for 2160h
          }
      }

}
